<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GTF</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GTF.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @* Check if the user is logged in *@
                @if (Context.Session.GetString("UserId") != null)
                {
                    <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="LoggedInHome">GTF</a>
                }
                else
                {
                    <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index">GTF</a>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("UserId") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="LoggedInHome">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("UserId") != null)
                        {
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-danger">Log Out</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - GTF -
            @if (Context.Session.GetString("UserId") != null)
            {
                <a class="text-danger" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
            }
            else
            {
                <a class="text-danger" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            }
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
